name: SonarCloud Analysis
# Workflow name displayed in GitHub Actions.

on:
  push:
    branches:
      - main
      - ScanCode
# Triggers the workflow on every push to the "main" and "ScanCode" branches.

jobs:
  sonarcloud:
     # Job name (useful if you have multiple jobs in the workflow)
    name: SonarCloud
    # Chooses the virtual machine on which the job will run (here, the latest Ubuntu version)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        # This step clones your Git repository into the VM so that the files are available.

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        # Install Python 3.10 on the VM

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectKey=svtozq_FastAPI-Project 
            -Dsonar.organization=svtozq
            -Dsonar.sources=.
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


