name: SonarCloud Analysis
# Nom du workflow affiché dans GitHub Actions.

on:
  push:
    branches:
      - main
      - ScanCode
# Déclenche le workflow à chaque push sur les branches "main" et "ScanCode".

jobs:
  sonarcloud:
     # Nom du job (utile si tu as plusieurs jobs dans le workflow)
    name: SonarCloud
    # Choisit la machine virtuelle sur laquelle le job va tourner (ici la dernière version Ubuntu)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        # Étape qui clone ton dépôt Git dans la VM pour que les fichiers soient disponibles

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
        # Installe Python 3.10 sur la VM

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectKey=svtozq_FastAPI-Project 
            -Dsonar.organization=svtozq
            -Dsonar.sources=.
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}


